<mat-card>
  <!-- <form (submit)="onAddPost(postForm)" #postForm="ngForm"> -->
  <form (ngSubmit)="onAddPost(postForm)" #postForm="ngForm">

    <br>
    <mat-form-field>
      <br>
      <input
      matInput
      type="text"
      name="title"
      ngModel
      required
      minlength="3"
      #title="ngModel"
      >
      <mat-label>Post Title</mat-label>
      <mat-error *ngIf="title.invalid">Please Enter a post title</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Leave a content</mat-label>
      <textarea matInput rows="6" name="content" ngModel required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please Enter a post content</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Save post</button>
  </form>
</mat-card>


<hr>
<!-- <p>{{newPost}}</p> -->